@import '../../styles/variables';

.modal-container {
  height: 100%;
  width: 100%;
  max-height: 90vh;
  justify-content: center;
  align-items: center;
}

.popup-box {
  flex-direction: column;
  background: $light-blue;
  border-radius: $borderRadius;
  padding: 10px;
  width: auto;
  height: fit-content;
  max-width: 70%;
  max-height: 90%;
  position: relative;
  text-align: right;
}

.popup-container {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: -55px;
  padding: 60px;
  overflow: hidden;
}

.popup-form-scroll{
  flex: 1;
  max-height: 60%;
  overflow-y: auto;
  padding: 0 10px;
}

.popup-container h3 {
  width: 400px;
  text-align: center;
}
.popup-form-scroll::-webkit-scrollbar {
  width: 4px;
}

.popup-form-scroll::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 10px;
}

.popup-form-scroll::-webkit-scrollbar-thumb:hover {
  background-color: $placeholder-gray;
}

.popup-form-scroll::-webkit-scrollbar-track {
  background: $light-blue;
}

.popup-header {
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.popup-label {
  margin-top: -$smallGap;
  margin-bottom: -$gap;
  align-self: start;
}

.close-icon {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
  color: $gray;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}

.close-icon:hover {
  color: $primary-color;
}

.search-input {
  border: 1px solid $gray;
  padding: 15px 20px;
  border-radius: $borderRadiusSmall;
  color: black;
  font-size: 14px;
}

.search-input::placeholder {
  color: $placeholder-gray;
}

.content-box-table {
  flex: 1;
  padding-top: 30px;
  flex-direction: column;
  gap: $gap;
}
