/*colors*/

$primary-color: #002B44;
$secondary-color:#FFA515;
$light-gray: #f0f2f4;
$bg-light-gray: rgba(240, 242, 244, 0.4);
$bg-light-gray-stats: rgba(240, 242, 244, 0.94);
$light-blue: #E0E9F2;
$black: #000;
$border: #ECECEC;
$red: #D63636;
$green: #0FC57C;
$yellow: $secondary-color;
$gray: #D6D6D6;
$placeholder-gray: #979797;
$tableRowSecondBg: #F9FBFD;
$hoverButton: rgba(0, 43, 68, 0.75);

/*dimentions*/

$smallTextSize: 12px;
$normalTextSize: 14px;
$largeTextSize: 20px;
$hugeTextSize: 27px;

$borderRadius: 15px;
$borderRadiusSmall: 10px;
$buttonPadding: 10px;
$buttonInsidePadding: 3px;

$itemMargin: 15px;
$itemPadding: 10px;

$iconSize: 18px;

$appPadding: 20px;

$gap: 15px;
$smallGap: 10px;
$bigGap: 20px;


/*breakpoint*/

$laptop: 1070px;
$mobile: 768px;

/*fonts*/

@font-face {
    font-family: 'Montserrat ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato Regular';
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), url('../assets/fonts/lato/Lato-Regular.ttf') format('truetype');
}

/*
appPadding: 30,

smallTextSize: 12,
normalTextSize: 14,
largeTextSize: 20,
hugeTextSize: 27,

buttonRadius: 15,
buttonPadding: 10,
buttonInsidePadding: 3,

itemMargin: 15,
itemPadding: 10,

seatItemWidth: '10%',
seatItemHeight: '10%',
seatItemMargin: '0.5%',
inputRadius: 15,
inputPadding: 15,
inputHigh: 43,

paddingTopBottom: 40,
smallPaddingTopBottom: 25,
paddingLeftRight: 20,

itemGap: 10,
itemGapSmall: 4,
itemGapBig: 20,
separator: 25,
smallSeparator: 15,

calendarItemWidth: 70,
calendarItemHeight: 80,

iconSize: 20,

seatSize: 50,

bottomBarHeight: 65,
paddingBar: 10,

*/
