
.main {
    min-height: 789px;
}

h2 {
    color: white;
    font-family: "Montserrat ExtraBold", serif;
    font-size: 50px;
    margin: 0;
}

.main-box {
    max-width: 1300px;
    padding: 60px 0 80px 0;
    margin: 0 auto;
    display: flex;
}

.sectionGrid {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
}

.sectionGrid h2 {
    font-family: "Montserrat ExtraBold", serif;
    font-size: 40px;
    color: white;
    margin: 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.movie-grid-box{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0 2px;
    background-color: transparent;
    color: gray;
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
    text-decoration: none;
    padding: 10px 14px;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #FF424F;
    color: white;
}

.pagination button:hover {
    background-color: #FF424F;
    color: white;
}


/* ######### header ######### */

.header {
    background-color: #FF424F;
}

.header-box {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.search {
    display: flex;
    align-items: center;
    border: #ffffff80 1px solid;
    border-radius: 5px;
}

.search input {
    min-width: 500px;
    background-color: #00000000;
    color: white;
    margin-bottom: -2px;
    font-size: 15px;
    padding: 9px 13px;
    font-family: 'Lato Regular', serif;
    border-width: 0;
    outline: none;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.search-button {
    height: 40px;
    width: 40px;
    color: #ffffff90;
    background-color: transparent;
    border: 0;
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button svg {
    width: 100%;
    height: 100%;
}

.search-button:hover {
    background-color: #fff;
    color: #333;
}

.search-button:hover {
    background-color: #fff;
    color: #333;
}

.login-btn {
    background-color: #fff;
    color: #FF424F;
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
    text-decoration: none;
    padding: 14px 20px;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #222B31;
    color: #fff;
}


/* ########### footer ############# */

.footer {
    background-color: #191C1F;
}

.footer-txt {
    color: white;
}

.footer-box {
    display: flex;
    max-width: 1300px;
    justify-content: center;
    margin: 0 auto;
    padding:  10px 20px;
}

/* ########### login/register ############# */

.login-box {
    display: flex;
    min-height: 85vh;
    justify-content: center;
    align-items: center;
}

.login-container {
    text-align: center;
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    flex-direction: column;
    background-color: #ffffff40;
    row-gap: 10px;
}

.login-container h2 {
    color: white;
    font-family: "Montserrat ExtraBold", serif;
    font-size: 35px;
    margin: 0 0 30px 0;
}

.form-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.form-global input {
    min-width: 250px;
    background-color: #00000000;
    color: white;
    margin-bottom: -2px;
    font-size: 15px;
    padding: 9px 13px;
    font-family: 'Lato Regular', serif;
    outline: none;
    border: #ffffff80 1px solid;
    border-radius: 5px;
}

.form-global button {
    background-color: #FF424F;
    color: #fff;
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
    text-decoration: none;
    padding: 14px 40px;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.form-global button:hover {
    background-color: #fff;
    color: #FF424F;
}

.form-global textarea{
    min-width: 250px;
    background-color: #00000000;
    color: white;
    margin-bottom: -2px;
    font-size: 15px;
    padding: 9px 13px;
    font-family: 'Lato Regular', serif;
    outline: none;
    border: #ffffff80 1px solid;
    border-radius: 5px;
}

.form-global select {
    background-color: #00000000;
    color: white;
    margin-bottom: -2px;
    font-size: 15px;
    padding: 9px 13px;
    font-family: 'Lato Regular', serif;
    outline: none;
    border: #ffffff80 1px solid;
    border-radius: 5px;
}

.form-global option {
    color: #222B31;
    background-color: #e5e5e5;
}

.login-link-text {
    color: black;
    font-weight: bold;
}

.login-link-text-gray {
    color: gray;
    font-weight: bold;
}


/* ########### movie Details ############# */

.movie-box {
    gap: 50px;
    align-items: center;
}

.movie-box-first-column{
    min-width: 40%;
}

.movie-box-second-column{
    display: flex;
    flex-direction: column;
    min-width: 60%;
    text-align: left;
    padding-top: 50px;
    row-gap: 20px;
}

.movie-box-second-column h2{
    font-family: "Montserrat ExtraBold", serif;
    font-size: 50px;
    margin: 0;
}

.movie-box-second-column h3{
    font-family: "Montserrat Regular", serif;
    font-size: 20px;
    margin: 0;
    color: gray;
}

.movie-box-second-column p{
    font-family: "Lato Regular", serif;
    font-size: 17px;
    margin: 0;
    color: white;
    line-height: 1.6;
    letter-spacing: 0.01em;
}

.movie-box-second-column table {
    color: white;
}

.movie-box-detail-row {
    display: flex;
}

.Flex {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Flex-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: gray;
}

.Flex-item:not(:last-child)::after {
    content: "";
    border: 1px solid gray;
    height: 15px;
    margin: 0 15px;
}

.Flex-item:last-child::after {
    content: none;
}


/* ########### add/delete movie ############# */


.add-movie-box{
    justify-content: center;
    min-height: 68vh;
}

.add-movie-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.form-add-movie {
    display: flex;
}

.form-right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-left-column > * {
    width: 900px;
}

.form-left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff20;
    border-radius: 15px;
    padding: 40px;
    row-gap: 20px;
}

.form-left-column p {
    margin: 0;
    font-family: "Montserrat SemiBold", serif;
    font-size: 20px;
    color: white;
}

.form-left-column button {
    width: 200px;
}

.custom-file-upload {
    display: inline-block;
    padding: 12px 17px;
    cursor: pointer;
    background-color: #FF424F;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: white;
    color: #FF424F;
}

.plus-icon {
    margin-right: 8px;
}

.video-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff20;
    width: 800px;
    height: 450px;
    border-radius: 15px;
}

.video-preview p {
    color: white;
}

#videoPreview {
    border-radius: 15px;
}

.show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-more-button button {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    font-size: 15px;
    font-family: 'Montserrat SemiBold', serif;
    background-color: lightgray;
}

.show-more-button button:hover {
    cursor: pointer;
    background-color: white;
}

.add-movie-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FF424F; /* Kolor tła przycisku (możesz dostosować) */
    color: #fff; /* Kolor ikony (możesz dostosować) */
    width: 70px;
    height: 70px;
    border-radius: 50%; /* Ustaw zaokrąglone krawędzie dla efektu okrągłego przycisku */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.add-movie-button:hover {
    background-color: white;
    color: #FF424F;
    cursor: pointer;
}

/* ########### search result ############# */

.search-result-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 68vh;
}

.search-result-container ul {
    list-style: none;
    color: white;
}

.search-result-container ul li {
    text-align: left;
    margin: 15px 0;
}

.link-element-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background-color: #ffffff25;
    border-radius: 15px;
    cursor: pointer;
}

.link-element-item h4{
    font-size: 25px;
    color: white;
    font-family: "Montserrat SemiBold", serif;
    margin: 0;
    padding: 0;
}

.link-element-item:hover h4{
    text-decoration: underline;
}

#no-results {
    font-size: 25px;
    color: white;
    font-family: "Montserrat SemiBold", serif;
}
