@import '../variables';


h1 {
    font-family: "Montserrat ExtraBold", serif;
    font-size: 50px;
    margin: 0;
    color: white;
    text-decoration: none;
}

h2 {
    font-family: "Montserrat Bold", serif;
    font-size: 40px;
    margin: 0;
    color: black;
}

h3 {
    font-family: "Montserrat Bold", serif;
    font-size: 25px;
    margin: 0;
    color: black;
}

a {
    text-decoration: none;
}

.column-div, .logo {
    flex-direction: column;
    align-items: center;
}


.main-box {
    max-width: 100%;
    padding: 30px 0;
    margin: 0 auto;
    flex-direction: column;
    flex: 1;
}

.content-box, .content-box-table {
    flex-direction: column;
    gap: $gap;
    width: 1400px;
}

.content-box-table {
    padding-top: 30px;
}

.search-input {
    border: 1px solid $gray;
    padding: 15px 20px;
    border-radius: $borderRadiusSmall;
    color: black;
    font-size: 14px;
}

.search-input::placeholder {
    color: $placeholder-gray;
}

.header-with-button {
    align-items: center;
    justify-content: space-between;
}

.global-button {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    color: gray;
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
    text-decoration: none;
    padding: 10px 14px;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    gap: 5px;
}

.popup-box {
    display: block;
    background: $light-blue;
    border-radius: $borderRadius;
    width: auto;
    max-width: 70%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: right;
}

.popup-container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: -55px;
    padding: 60px;
}

.popup-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

/** ICONS */

.close-icon {
    margin-top: 20px;
    margin-right: 20px;
    color: $gray;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

.close-icon:hover {
    color: $primary-color;
}

.logo-icon, .logo-icon-login {
    color: white;
    font-size: 50px;
}

.logo-icon-login {
    font-size: 250px;
}

/** JESZCZE NIE WIEM CO TO JEST ***/


.sectionGrid {
    flex-direction: column;
    position: relative;
    gap: 50px;
}

.sectionGrid h2 {
    font-family: "Montserrat ExtraBold", serif;
    font-size: 40px;
    color: black;
    margin: 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.movie-grid-box{
    flex-direction: column;
    gap: 40px;
}

.pagination {
    justify-content: center;
    align-items: center;
    gap: $gap;
}

.pagination p {
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
}

.pagination button {
    margin: 0 2px;
    background-color: transparent;
    color: gray;
    font-size: 15px;
    font-family: "Montserrat SemiBold", serif;
    text-decoration: none;
    padding: 10px 14px;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button.active {
    color: $primary-color;
}

.pagination button:hover {
    color: $primary-color;
    text-decoration: underline;
}


/* ######### header ######### */


.header-box {
    display: block;
    width: 100%;
    padding: 40px;
}

.header-content{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    padding-top: 30px;
}

.logo img {
    max-height: 50px;
}

.header-menu {
    width: 85%;
}

.header-menu a {
    font-family: "Montserrat SemiBold", serif;
    color: white;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: $borderRadius;
}

.header-menu a:hover{
    color: $primary-color;
    background-color: white;
}


.header-menu a .active, .header-menu a:hover {
    color: $primary-color;
    background-color: white;
}

.header-menu {
    flex-direction: column;
    text-align: left;
    margin-top: 70px;
    gap: 10px;
}

.login-btn {
    background-color: $primary-color;
    color: #fff;
    font-size: 15px;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 30px;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;
}

.login-btn:hover {
    background-color: white;
    color: $primary-color;
    font-family: "Montserrat SemiBold", serif;
}

.header-footer{
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* ########## table ############*/

.content-table {
    width: 100%;
    overflow-x: auto;
    gap: $gap;
}

.content-table button {
    background-color: transparent;
    border: none;
    font-family: "Lato Regular", serif;
    font-size: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: $borderRadiusSmall;

}

.content-table button:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;  /* Eliminuje przestrzenie między komórkami */
    border-radius: $borderRadius;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: $primary-color;  /* Kolor tła nagłówka */
    color: white;
}

tr:nth-child(even) {
    background-color: $light-blue;  /* Tło dla co drugiego wiersza */
}

tr:nth-child(odd) {
    background-color: transparent;  /* Tło dla pozostałych wierszy */
}

td {
    border-left: none;
    border-right: none;
}

/*
table tr:first-child th:first-child {
    border-top-left-radius: $borderRadius;
}

table tr:first-child th:last-child {
    border-top-right-radius: $borderRadius;
}


table tr:last-child td:first-child {
    border-bottom-left-radius: $borderRadius;
}


table tr:last-child td:last-child {
    border-bottom-right-radius: $borderRadius;
}*/



/* ########### footer ############# */

.footer-txt {
    color: $placeholder-gray;
    font-size: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  10px 20px;
}

/* ########### login/register ############# */

.logo-login {
    align-items: center;
    padding-right: 50px;
    padding-bottom: 30px;
}

.logo-login h1 {
    font-size: 100px;
}

.login-box {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    gap: 15%;
}

.login-container {
    text-align: center;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 20px;
    flex-direction: column;
    background-color: $light-blue;
    row-gap: 10px;
}

.login-container h2 {
    color: black;
    font-family: "Montserrat ExtraBold", serif;
    font-size: 35px;
    margin: 0 0 30px 0;
}

.form-global {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.form-global input, .form-global select {
    background-color: #fff;
    color: black;
    font-size: 17px;
    font-family: 'Lato Regular', serif;
    outline: none;
    border: none;
    border-radius: $borderRadius;
}

.form-global input {
    width: 400px;
    padding: 15px 17px;
}

.form-global select {
    width: 435px;
    padding: 15px 20px;
}


.form-global input::placeholder {
    color: $gray;
}


.form-global button {
    background-color: $primary-color;
    color: #fff;
    font-size: 15px;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 50px;
    border-width: 0;
    border-radius: $borderRadius;
    cursor: pointer;
    margin-top: 20px;
}

.form-global button:hover {
    background-color: #fff;
    color: $primary-color;
    font-family: "Montserrat SemiBold", serif;
}

.form-global textarea{
    min-width: 350px;
    color: $gray;
    margin-bottom: -2px;
    font-size: 15px;
    padding: 9px 13px;
    font-family: 'Lato Regular', serif;
    outline: none;
    border: #ffffff80 1px solid;
    border-radius: 5px;
}


.form-global option {
    color: #222B31;
    background-color: #e5e5e5;
}

.login-link-text {
    color: black;
    font-weight: bold;
}

.login-link-text-blue {
    color: $primary-color;
    font-weight: bold;
    text-decoration: none;
}

.login-link-text-blue:hover {
    text-decoration: underline;
}
